body {
    text-align: center;
}

li {
  list-style-type: none;
}

#searchcontainer{
  margin: 40px;
}

#logscontainer {
  padding: 40px;	
}

.jumbotron {
    color: white;
    background-color: #003058;
}

.panel-default>.panel-heading {
    color: #f7f7f7;
    background-color: #b74949;
    border-color: #ddd;
}

#logs {
	text-align: center;
}

.panel-default {
 text-align: left; 
}

.bodycontainer {
  padding: 30px;
}

.emptybox {
  height: 300px;
  margin: 20px;

}

.outerrecorder {
	padding: 30px 0;
}
.recorder {
  border: 2px solid #E8E8E8;
}

.wave {
  

}

.counter {
  
}

.center {
	margin: 0 auto;
	text-align: center;
}

#autoscroll {
  height: 300px;
  width: 45%;
  margin: 0 auto;
  border: 2px solid #E8E8E8;
  overflow: scroll;
  padding-bottom: 7px;
}

.usermessage {
  text-align: left;
}

.username {
  font-weight: bold;
}
.message {
}

.allmessages {
}