  <label for="username">Username:</label>
  <input class="username" id="username-input" value='' ng-model="ctrl.username" />
  <uib-tabset active="activeTabIndex">
    <uib-tab index="0" heading="+">
      <form>
        <label for="newRoom">Go to room:</label>
        <input class="newRoom" id="new-room-input" value='' ng-model="ctrl.newRoom" />
        <input type="submit" ng-if="!ctrl.promptPassword" ng-click="ctrl.goToRoom(ctrl.newRoom)" value="Submit" />
        <div ng-show="ctrl.promptPassword">
          <label for="password">{{!ctrl.roomHasPassword ? 'Set a password:' : 'Enter password:'}}</label>
          <input type="password" ng-model="ctrl.password" />
        </div>
        <input type="submit" ng-if="ctrl.promptPassword" ng-click="ctrl.createRoom(ctrl.newRoom)" value="Submit" />
      </form>
    </uib-tab>
    <uib-tab index="$index + 1" ng-repeat="room in ctrl.chatrooms" 
       ng-click="ctrl.changeRoom(room)">
      <uib-tab-heading>
        {{room}} <p ng-if="ctrl.newMessages">!</p>
        <a ng-click="ctrl.leaveRoom(room)"> x </a> 
      </uib-tab-heading>
      <div class="autoscroll">
        <ul class="allmessages">
          <li class="usermessage" ng-repeat='message in ctrl.messages[room] track by $index'>
            <span class="username">{{message.username}}: </span> <span class="message"> {{message.message}} </span>
          </li>
        </ul>
      </div>
      <div ng-model="ctrl.otherUserIsTyping">{{ctrl.otherUserIsTyping}}</div>
      <select ng-model="ctrl.translateTo" ng-change="ctrl.changeLanguage()">
        <option ng-repeat="language in ctrl.languages track by $index" value={{language.code}}>{{language.name}}</option>
      </select>
      <form> 
        <input id="foreign-language-input" value='' 
         ng-model="ctrl.messageText" 
         ng-change="ctrl.isTyping()" />
        <input type="submit" 
               ng-click="ctrl.sendMessage()" 
               value='Send' />
      </form>
      <div class="bodycontainer">
      <!-- ctrl.chatting is boolean passed from chat directive
      that has been added to elements we want to hide -->
      <interpreter chatting="ctrl.chatting" translate-to="ctrl.translateTo" >Interpreter goes here</interpreter>
    </uib-tab>
  </uib-tabset>

  <!-- ctrl.chatting is boolean passed from chat directive
  that has been added to elements we want to hide -->
</div>

