  <label for="username">Username:</label>
  <input class="username" id="username-input" value='' ng-model="ctrl.username" />
  <select ng-model="ctrl.chatroom" ng-change="ctrl.joinRoom(ctrl.chatroom, '{{ctrl.chatroom}}')">
    <option ng-repeat="room in ctrl.chatrooms track by $index" value={{room}}>{{room}}</option>
  </select>
  <button ng-click="ctrl.toggleAddRoom()">+</button>
  <form ng-if="ctrl.addRoom">
    <label for="newRoom">Add Room:</label>
    <input class="newRoom" id="new-room-input" value='' ng-model="ctrl.newRoom" />
    <input type="submit" ng-click="ctrl.createNewRoom(ctrl.newRoom)" value="create" />
  </form>
<div id="autoscroll">
  <ul class="allmessages">
    <li class="usermessage" ng-repeat='message in ctrl.messages track by $index'>
      <span class="username">{{message.username}}: </span> <span class="message"> {{message.message}} </span>
    </li>
  </ul>
</div>

<select ng-model="ctrl.translateTo" ng-change="ctrl.changeLanguage()">
  <option ng-repeat="language in ctrl.languages track by $index" value={{language.code}}>{{language.name}}</option>
</select>
<form> 
  <input id="foreign-language-input" value='' 
         ng-model="ctrl.foreignText" />
  <input type="submit" 
         ng-click="ctrl.sendMessage()" 
         value='Send' />
</form>
<div class="bodycontainer">


  <!-- ctrl.chatting is boolean passed from chat directive
  that has been added to elements we want to hide -->
  <interpreter chatting="ctrl.chatting" translate-to="ctrl.translateTo" >Interpreter goes here
  </interpreter>
</div>

