<div uib-accordion-group class="panel-default" heading="{{ctrl.log.filename}} {{ctrl.log.entrynumber}}" >
      <p>
        <!-- <button id='{{ctrl.log.id}}' class='play' ng-click= 'ctrl.clicked()'> <span class="glyphicon glyphicon-play" aria-hidden="true"></span> </button> -->
        <button class='play' ng-click= 'ctrl.clicked()'> <span class="glyphicon glyphicon-play" aria-hidden="true"></span> </button>
        <button id='{{ctrl.log.id}}' class="stop"> <span class="glyphicon glyphicon-stop" aria-hidden="true"></button>
      </p>
      <p>
      "{{ctrl.log.text}}"
      </p>
</div>
